html, body, #app, #app > div {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    width: 100%;
    display: inline-block;
}

.upload-panel {
    background-color: #9E9E9E;
    color: white;
    width: auto;
    height: auto;
    border: 3px dashed black;
    padding: 0 15px;
}

.upload-list {
    width: auto;
    height: auto;
    overflow: hidden;
    list-style-type: none;
    float: left;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.padding-10 {
    padding: 10px;
}